pipeline/SendAlertToTeamsChannel.json
{
	"name": "SendAlertToTeamsChannel",
	"properties": {
		"activities": [
			{
				"name": "ForEachWebhookDestinationURL",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.teamWebhookUrls",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set JSON schema",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "messageBodyJSON",
								"value": {
									"value": "{\n  \"subscription\": \"@{pipeline().parameters.subscription}\",\n  \"resourceGroup\":  \"@{pipeline().parameters.resourceGroup}\",\n  \"DataFactory\":  \"@{pipeline().DataFactory}\",\n  \"runId\": \"@{pipeline().parameters.runId}\",\n  \"name\": \"@{pipeline().parameters.name}\",\n  \"status\": \"@{pipeline().parameters.status}\",\n  \"triggerTime\": \"@{pipeline().parameters.triggerTime}\",\n  \"executionEndTime\": \"@{pipeline().parameters.executionEndTime}\",\n  \"runDuration\":  \"@{pipeline().parameters.runDuration}\",\n  \"message\":  \"@{pipeline().parameters.message}\",\n  \"runLink\": \"@{concat('https://adf.azure.com/en/monitoring/pipelineruns/',pipeline().parameters.runId,'?factory=/subscriptions/',pipeline().parameters.subscription,'/resourceGroups/',pipeline().parameters.resourceGroup,'/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory)}\"\n}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Invoke Teams Webhook Url",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Set JSON schema",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "@item()",
									"type": "Expression"
								},
								"body": {
									"value": "@variables('messageBodyJSON')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set JSON schema generic message",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Invoke Teams Webhook Url",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "messageCard",
								"value": {
									"value": "{\n  \"subscription\": \"@{pipeline().parameters.subscription}\",\n  \"resourceGroup\":  \"@{pipeline().parameters.resourceGroup}\",\n  \"DataFactory\":  \"@{pipeline().DataFactory}\",\n  \"runId\": \"@{pipeline().parameters.runId}\",\n  \"name\": \"@{pipeline().parameters.name}\",\n  \"status\": \"@{pipeline().parameters.status}\",\n  \"triggerTime\": \"@{pipeline().parameters.triggerTime}\",\n  \"executionEndTime\": \"@{pipeline().parameters.executionEndTime}\",\n  \"runDuration\":  \"@{pipeline().parameters.runDuration}\",\n  \"message\":  \"@{variables('genericErrorMessage')}\",\n  \"runLink\": \"@{concat('https://adf.azure.com/en/monitoring/pipelineruns/',pipeline().parameters.runId,'?factory=/subscriptions/',pipeline().parameters.subscription,'/resourceGroups/',pipeline().parameters.resourceGroup,'/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory)}\"\n}\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Invoke Teams Webhook Url_copy1",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Set JSON schema generic message",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "@item()",
									"type": "Expression"
								},
								"body": {
									"value": "@json(variables('messageCard'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"subscription": {
				"type": "string",
				"defaultValue": "f92b78e2-ea05-4117-880b-1c4ba8755802"
			},
			"resourceGroup": {
				"type": "string",
				"defaultValue": "Donorfy"
			},
			"runId": {
				"type": "string"
			},
			"name": {
				"type": "string"
			},
			"triggerTime": {
				"type": "string"
			},
			"status": {
				"type": "string"
			},
			"message": {
				"type": "string",
				"defaultValue": "This is a test message"
			},
			"executionEndTime": {
				"type": "string"
			},
			"runDuration": {
				"type": "string"
			},
			"teamWebhookUrls": {
				"type": "array",
				"defaultValue": [
					"https://default93183a8b45b84208a95c26fb477572.e5.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/b853a1e219524fdcbaac837a112b0cc6/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=k3jK29jL73OKBjvgBYeNsgqsEOJq_4ZBZY8l--x8LCY"
				]
			}
		},
		"variables": {
			"messageCard": {
				"type": "String"
			},
			"genericErrorMessage": {
				"type": "String",
				"defaultValue": "An error has occured running a pipeline.  There was a problem sending the error message. Please look at the pipeline run log for the error details."
			},
			"messageBodyJSON": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-10T10:43:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}